@use "../component/index" as *;

.footer {
  background-color: $bg-footer-color;
  @include fixed-default;
  bottom: 0;
  
  &__nav {
    @include nav-style;

    &-link {
      display: flex;
      align-items: center;
      gap: rem(7);
      flex-direction: column;

      & ion-icon {
        font-size: rem(25);
      }
      
      & span {
        font-size: rem(16);
      }
    }
  }
}
