$bg-header-color: rgb(133, 129, 129);
$bg-main-color: rgb(214, 188, 188);
$bg-footer-color: rgb(41, 27, 27);

$text-color: white;

$bg-card-color:#1a1a1a;
$border-radius:20px;
$text-card-color:white;
